{
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 3,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
